<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flames</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/flames" method="post">
        <p class="name1">Enter your Name</p>
        <input type="text" name="name1" autocomplete="off">
        <p>Enter your Crush Name</p>
        <input type="text" name="name2" autocomplete="off">
        <input type="submit">
    </form>
</body>
</html>